<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Editing <%= book.title %>
    </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>Edit <%= book.title %></h1>
        <form action="/users/<%= user._id %>/books/<%= book._id %>?_method=PUT"
    method="POST">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" value="<%= book.title %>" />

            <label for="notes">Notes:</label>
            <textarea name="notes" id="notes"><%= book.notes %></textarea>

            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="loved" <%=book.status==='loved' ? 'selected' : '' %>
                    >
                    Loved
                </option>
                <option value="disliked" <%=book.status==='disliked' ? 'selected' : '' %>
                    >
                    Disliked
                </option>
                <option value="neutral" <%=book.status==='neutral' ? 'selected' : '' %>
                    >
                    Neutral
                </option>
                <option value="confused" <%=book.status==='confused' ? 'selected' : '' %>
                    >
                    Confused
                </option>
            </select>
            <button type="submit">Update Book</button>
        </form>
</body>

</html>