<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your Books</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <div class="book-container">
            <div class="left-book-container">
                <h1>Your Books</h1>

                <ul>
                    <% books.forEach((book)=>{ %>
                        <li>
                            <a href="/users/<%= user._id %>/books/<%= book._id %>">
                                <%= book.title %>
                            </a>
                        </li>
                        <% }) %>
                </ul>
                <a class="add-book-link" href="/users/<%=user._id%>/books/new">Add a Book</a>
            </div>
            <img class="your-books-image" src="https://cdn.pixabay.com/photo/2014/01/29/04/37/book-254048_1280.jpg"
                alt="Bookshelf" class="bookshelf-image">

        </div>
</body>

</html>