<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your Books</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %> 
    <div class="all-books-body">
        <div class="all-books-header">
    <h1>Your Books</h1>
    <a class="add-book-link" href="/users/<%=user._id%>/books/new">Add a Book</a>
</div>
    <ul>
        <% books.forEach((book)=>{ %>
        <li>
          <a href="/users/<%= user._id %>/books/<%= book._id %>">
            <%= book.title %> 
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
