<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= book.title %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= book.title %></h1>
    <% if (book.notes) { %>
    <p>Notes: <%= book.notes %></p>
    <% } %>
    <p>Current Status: <%= book.status %></p>

    <a href="/users/<%= user._id %>/books/<%= book._id %>/edit">
        Edit this book
      </a>

    <form
      action="/users/<%= user._id %>/books/<%= book._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete this book</button>
    </form>
    
  </body>
</html>